.active{
    background-color: var(--main-color);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-color);;
    color: var(--sub-text-color);
    position: sticky;
    top: 0;
    z-index: 1;
}

nav .title {
    font-size: 2.5rem;
    margin: 1rem;
    font-weight: bolder;
    text-decoration: none;
    color: var(--sub-text-color);
    cursor: pointer;
}

nav ul {
    display: flex;
}

nav ul li {
   list-style: none; 
}

nav ul li a {
    display: block;
    text-decoration: none;
    color: var(--sub-text-color);
    padding: 0.5rem;
    margin: 0 0.5rem;
    border-radius: 0.5rem;
    font-size:1.5rem;
    font-weight: 500;
}

nav ul li a:not(.active):hover {
    background-color:var(--sub-text-color2) ;
}

nav .menu {
    display: none;
    position: absolute;
    top: 0.75rem;
    right: 0.5rem;
    flex-direction: column;
    justify-content: space-between;
    width: 2.25rem;
    height: 2rem;
}


@media (max-width: 600px) {
    nav .menu {
        display: flex;
    }

    nav {
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
        margin-bottom: 0.25rem;
    }

    nav ul.open {
        display: flex;
    }

    nav ul li {
        width: 100%;
        text-align: center;
    }

    nav ul li a {
        margin: 0.2rem 0.5rem;
    }
}