.cbooking{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap:3%;
}

.cbooking form{
    margin-top: 2%;
    margin-bottom: 5%;
    width:40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cbooking h1{
    color: var(--main-color);
    text-align: center;
    font-size: 4rem;
}

.cbooking form .box{
    display: flex;
    flex-direction: column;
}

.cbooking label{
    color: var(--main-color);
    font-size: 1.3rem;
    font-weight: 540;
}

.actions{
    margin-top: 2%;
    display: inline-flex;
    gap: 30px;
}

.actions button{
    height: 50px;
    width:200px;
    border-radius: 50px;
}

.cbooking form .box input{
    border:0.5px solid black;
    border-radius: 5px;
    color: var(--main-color);
    font-size: 20px;
    font-weight: 500;
}


.cbooking form .box .date{
    height: 60px;
    padding-left: 10px;
    background-color: var(--background-color);
}

.cbooking img{
    height: 550px;
}

@media only screen and (max-width : 1300px){
    .cbooking{
        gap:0%;
    }
    .cbooking img{
        height: 600px;
        width:500px
    }
    
}

@media only screen and (max-width : 1000px){
    .cbooking{
        flex-direction: column;
    }
    .cbooking img{
        display:none;
    }
    .cbooking form{
        width:80%;
    }
}